@import '@/shared/styles/breakpoints.module.scss';

.text {
  margin: 0;
  display: inline-block;
  color: var(--color-white);
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 629;
  line-height: 110%; /* 35.2px */
}

.h1 {
  font-size: 80px;
  letter-spacing: -2.4px;
 
  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 46px;
    letter-spacing: -1.38px;
  }
}

.h2 {
  font-size: 56px;
  letter-spacing: -1.68px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 32px;
    letter-spacing: -0.96px;
  }
}

.h3 {
  font-size: 42px;
  letter-spacing: -1.26px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 28px;
    letter-spacing: -0.84px;
  }
}

.h4 {
  font-size: 32px;
  letter-spacing: -0.96px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 24px;
    letter-spacing: -0.72px;
  }
}

.base,
.button,
.description {
  line-height: 120%;

}

.base {
  font-size: 20px;
  font-weight: 400;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

.button {
  font-size: 20px;
  font-weight: 500;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 18px;
  }
}

.description {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 12px;
  }
}

.blue {
  color: var(--color-blue);
}

.dark {
  color: var(--color-dark);

  :global(body.dark-theme) & {
    color: var(--color-white);
  }
}

.white {
  color: var(--color-white);

  :global(body.dark-theme) & {
    color: var(--color-dark);
  }
}

.gray {
  color: var(--color-dark-80);

  :global(body.dark-theme) & {
    color: var(--color-white-80);
  }
}