@import "@/shared/styles/breakpoints.module.scss";

.card {
  display: flex;
  flex-direction: column;
  padding: 42px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 32px;
  }
}

.video {
  pointer-events: none;
  align-self: center;
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  border-radius: 32px;

  @media screen and (max-width: $tablet-breakpoint) {
   margin-bottom: 24px;
   width: 270px;
  }
}

.title {
  margin-bottom: 20px;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-bottom: 16px;
  }
}

