@import "@/shared/styles/breakpoints.module.scss";

.button {
  display: inline-flex;
  border: none;
  border-radius: 900px;
  background: transparent;
  transition-property: background, border;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  padding: 18px 42px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 12px 32px;
  }

  &.primary {
    background-color: var(--color-blue);

    &:hover {
      background-color: var(--color-deep-blue);
    }
  }

  &.secondary {
    &.light {
      background-color: var(--color-blue-12);

      :global(body.dark-theme) & {
        padding: 17px 41px;
        background-color: transparent;
        border: 1px solid var(--color-white-60);

        @media screen and (max-width: $mobile-breakpoint) {
          padding: 11px 31px;
        }
      }

      &:hover {
        background-color: var(--color-blue-16);
        
        :global(body.dark-theme) & {
          background-color: transparent;
          border-color: var(--color-white);
        }
      }
    }

    &.dark {
      padding: 17px 41px;
      border: 1px solid var(--color-white-60);

      @media screen and (max-width: $mobile-breakpoint) {
        padding: 11px 31px;
      }

      :global(body.dark-theme) & {
        background-color: var(--color-blue-12);
        border: none;
      }

      &:hover {
        border-color: var(--color-white);

        :global(body.dark-theme) & {
          background-color: var(--color-blue-16);
          border: none;
        }
      }
    }
  }

  &.icon {
    padding: 4px;
    background-color: transparent;
    border: none;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: 0.5;
    }
  }
}

.text {
  &.primary {
    color: var(--color-white);
  }

  &.secondary {
    &.light {
      color: var(--color-deep-blue);

      :global(body.dark-theme) & {
        color: var(--color-white);
      }
    }
  }
}
