@import "@/shared/styles/breakpoints.module.scss";

.card {
  display: flex;
  flex-direction: column;
  padding: 42px 56px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 32px;
  }
}

.video {
  width: 100%;
  height: auto;
  margin-left: -6px;

  @media screen and (max-width: $tablet-breakpoint) {
    width: 270px;
  }

  &Block {
    align-self: center;
    margin-bottom: 24px;
    overflow: hidden;

    @media screen and (max-width: $tablet-breakpoint) {
      margin-bottom: 0;
    }
  }
}

.title {
  margin-bottom: 20px;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-bottom: 16px;
  }
}
