:root {
  --color-black: #252525;
  --color-blue: #41a4df;
  --color-blue-12: #297ee21f;
  --color-blue-16: #41a4df29;
  --color-deep-blue: #297ee2;
  --color-white: #ffffff;
  --color-white-60: #ffffff99;
  --color-white-80: #ffffffcc;
  --color-dark: #0d0d12;
  --color-dark-80: #111111cc;
}

body {
  background-color: var(--color-white);
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
  }
}
