:root {
  --color-black: #252525;
  --color-blue: #41a4df;
  --color-blue-12: #297ee21f;
  --color-blue-16: #41a4df29;
  --color-deep-blue: #297ee2;
  --color-white: #ffffff;
  --color-white-60: #ffffff99;
  --color-white-80: #ffffffcc;
  --color-dark: #0d0d12;
  --color-dark-80: #111111cc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: var(--color-white);
  margin: 0;

  --color-text-dark: var(--color-dark);
  --color-text-white: var(--color-white);
  --color-text-blue: var(--color-blue);
  --color-text-gray: var(--color-dark-80);
  --color-text-dark: var(--color-dark);
}

body.dark-theme {
  background-color: var(--color-dark);

  --color-text-dark: var(--color-white);
  --color-text-white: var(--color-dark);
  --color-text-gray: var(--color-white-80);
}

@media (prefers-color-scheme: dark) {
  body { 
    background-color: var(--color-dark);

    --color-text-dark: var(--color-white);
    --color-text-white: var(--color-dark);
    --color-text-gray: var(--color-white-80);
  }

  body.light-theme {
    background-color: var(--color-white);
  
    --color-text-dark: var(--color-dark);
    --color-text-white: var(--color-white);
    --color-text-blue: var(--color-blue);
    --color-text-gray: var(--color-dark-80);
    --color-text-dark: var(--color-dark);
  }
}
