@import "@/shared/styles/breakpoints.module.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

.nav {
  @media screen and (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.buttons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.theme {
  &Icon {
    font-size: 32px;

    @media screen and (max-width: $mobile-breakpoint) {
      font-size: 24px;
    }

    &.light {
      color: var(--color-dark-80);
    }

    &.dark {
      color: var(--color-white-80);
    }
  }
}

.logo {
  font-size: 64px;
  margin-right: 177px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 46px;
    margin: 0;
  }
}
