@import "@/shared/styles/breakpoints.module.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding-top: 53px;
    padding-bottom: 29px;
  }
}

.nav {
  @media screen and (max-width: $tablet-breakpoint) {
    display: none;
  }
}

.logo {
  position: relative;
  width: 64px;
  height: 64px;
  margin-right: 99px;

  @media screen and (max-width: $mobile-breakpoint) {
    width: 46px;
    height: 46px;
    margin: 0;
  }
}
