@import '@/shared/styles/breakpoints.module.scss';

.title {
  margin: 0;
  display: inline-block;
  color: var(--color-white);
  font-weight: 629;
  line-height: 110%; /* 35.2px */
}

.h1 {
  font-size: 80px;
  letter-spacing: -2.4px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 46px;
    letter-spacing: -1.38px;
  }
}

.h2 {
  font-size: 56px;
  letter-spacing: -1.68px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 32px;
    letter-spacing: -0.96px;
  }
}

.h3 {
  font-size: 42px;
  letter-spacing: -1.26px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 28px;
    letter-spacing: -0.84px;
  }
}

.h3 {
  font-size: 32px;
  letter-spacing: -0.96px;

  @media screen and (max-width: $mobile-breakpoint) {
    font-size: 24px;
    letter-spacing: -0.72px;
  }
}