@import "@/shared/styles/breakpoints.module.scss";

.card {
  display: flex;
  flex-direction: column;
  padding: 42px 56px;
  gap: 42px;

  @media screen and (max-width: $tablet-breakpoint) {
    gap: 24px;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 32px;
  }
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 20px;
  order: 1;

  @media screen and (max-width: $tablet-breakpoint) {
    margin-bottom: 0;
    order: 2;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    gap: 16px;
  }
}

.currencies {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  align-items: flex-start;
  order: 2;

  @media screen and (max-width: $tablet-breakpoint) {
    gap: 10px;
    order: 1;
    max-width: 270px;
    align-self: center;
  }

  &Item {
    display: flex;
    align-items: center;
    flex-direction: column;


    &:nth-child(n + 5) {
      transform: translateX(12px);
    }

  }

  &Icon {
    font-size: 96px;
    display: inline-block;
    margin-bottom: 12px;
    animation-name: currencies-scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    @media screen and (max-width: $tablet-breakpoint) {
      font-size: 56px;
      margin-bottom: 0;
    }
  }

  &Text {
    color: var(--color-dark-40);
    animation-name: currencies-color;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    @media screen and (max-width: $tablet-breakpoint) {
      display: none;
    }
  }
}

@keyframes currencies-scale {
  0% {
    transform: scale(1);
  }

  12% {
    transform: scale(1.1);
  }

  24% {
    transform: scale(1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes currencies-color {
  0% {
    color: var(--color-dark-40);
  }

  12% {
    color: var(--color-dark-80);
  }

  24% {
    color: var(--color-dark-40);
  }

  100% {
    color: var(--color-dark-40);
  }
}
