@import "@/shared/styles/breakpoints.module.scss";
.card {
  display: flex;
  flex-direction: column;
  padding: 42px 56px;

  @media screen and (max-width: $mobile-breakpoint) {
    padding: 32px;
  }
}

.video {
  width: 100%;
  height: auto;
  align-self: center;
  border-radius: 32px;
  margin-bottom: 24px;

  @media screen and (max-width: $tablet-breakpoint) {
    width: 270px;
  }
}

.title {
  margin-bottom: 20px;

  @media screen and (max-width: $mobile-breakpoint) {
    margin-bottom: 16px;
  }
}
